.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

.title {
    text-align: center;
}